@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
}

.main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  width: fit-content;
  border-radius: 16px;
  margin-bottom: 9px;
}

.music-img {
  background-image: url(./images/illustration-hero.svg);
  background-repeat: no-repeat;
  width: 450px;
  height: 220px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.main-1 {
  display: flex;
  flex-direction: column;
  background-size: contain;
  width: 450px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.order {
  text-align: center;
  font-weight: 900;
  margin-bottom: -3px;
  color: hsl(223, 47%, 23%);
}

.bio {
  text-align: center;
  color: hsl(224, 23%, 55%);
  font-weight: 700;
}

.plans {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  width: 80%;
  min-height: 6.5rem;
  background-color: hsl(228, 100%, 98%);
  border-radius: 1rem;
}

.song-icon {
  margin-left: 16px;
}

.annual-plan {
  line-height: 4px;
}

.annual-plan h4 {
  font-size: 16px;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.annual-plan p {
  font-weight: 700;
  color: hsl(224, 23%, 55%);
}

.change {
  font-weight: 700;
  color: hsl(245, 75%, 52%);
}

.change:hover>a {
  color: #3829e0c0;
  cursor: pointer;
  text-decoration: none;
}

.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.proceed {
  padding: 10px 130px;
  background-color: hsl(245, 75%, 52%);
  border-radius: 10px;
  border: none;
  font-weight: 700;
  color: white;
  height: 3.3rem;
  box-shadow: 0 12px 30px rgba(60, 45, 221, 0.438);
  font-weight: 700;
}

.proceed:hover {
  background-color: #3829e0c0;
  cursor: pointer;
}

.cancel {
  color: hsl(221, 9%, 42%);
  font-weight: 900;
  margin: 19px 0;
}

.cancel:hover {
  color: hsl(223, 47%, 23%);
  cursor: pointer;
}